/* Dialog.css */
.dialog-modal {
    background-color: #d1d8d8;
    border-radius: 0.75rem;
    max-width: 500px;
    width: 100%;
    padding: 1.25rem;
    box-shadow: 0 2px 12px
}

.dialog-content {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* 👈 mobile-safe edge breathing */
    background-color: #d0d4d4;
    text-transform: none;
    z-index: 999;
}

.dialog-content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
}
.dialog-content h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

.activate-dialog {
    padding: 0.5rem;
    width: 2.2rem;
    position: fixed;
    margin: 2rem;
}

.activate-dialog-right {
    right: 1rem;
}

.activate-dialog-left {
    left: 1rem;
}

.dialog-dismiss {
    padding: 1rem;
}

.dialog-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.coming-soon {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: #646cff;
}
