.judgment-legend {
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.legend-label {
  flex: 1;
  text-align: left;
}

.legend-item .bit-checkbox {
  margin-left: 4px;
}

.judgment-legend .bit-checkbox {
  scale: 0.75;
}

.help-icon {
  scale: 0.75;
  margin-right: 0.5rem;
}
