#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Menlo, Consolas, monospace;
}

p {
  font-weight: bold;
  letter-spacing: 1px;
}

div.display > p, li, input {
  font-family: "Verily Serif Mono", "Courier", monospace;
  text-align: justify;
  text-transform: uppercase;
  margin: 1px;
}

div.encoding-inputs > button {
  padding: 10px;
}

input.bit-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 64px; /* to match the bit images */
  height: 64px;
  background-image: url('assets/Bit_off_Yellow.png');
  background-size: cover;
  cursor: pointer; /* "pointer" is the 'this is a link' finger pointer */
  image-rendering: pixelated;
}

input.bit-checkbox:checked {
  background-image: url('assets/Bit_on_Yellow.png');
}

input[data-judgment="unknown"] {
  background-image: url("assets/Bit_off_Yellow.png");
}

input[data-judgment="unknown"]:checked {
  background-image: url("assets/Bit_on_Yellow.png");
}

input[data-judgment="correct"] {
  background-image: url("assets/Bit_off_Teal.png");
}

input[data-judgment="correct"]:checked {
  background-image: url("assets/Bit_on_Teal.png");
}

input[data-judgment="incorrect"] {
  background-image: url("assets/Bit_off_Purple.png");
}

input[data-judgment="incorrect"]:checked {
  background-image: url("assets/Bit_on_Purple.png");
}

.sticky-container {
  position: sticky;
  top: 0; /* Adjust this value as needed */
  z-index: 10; /* Ensure it's above other content */
}

input[type="button"] {
  margin: 8px;
  min-height: 40px;
  min-width: 40px;
  font-size: x-large;
  font-weight: bold;
  padding: 15px 20px;
}
