:root {
  font-family: "Press Start 2P", Menlo, Consolas, monospace, sans-serif; /* Retro-friendly default */
  line-height: 1.5;
  background-color: #d0d4d4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #008080;
  text-decoration: inherit;
}

a:hover {
  color: #1ba8a8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input, textarea {
  font-size: 16px;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
  min-height: 44px;
  min-width: 44px;
}
button:hover {
  color: #646cff;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
