@font-face {
  font-family: "HD44780";
  /*noinspection CssUnknownTarget*/
  src: url("/fonts/hd44780a00-5x8.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "HD44780", "Press Start 2P", Monaco, Consolas, monospace, sans-serif;
  line-height: 1.5;
  background-color: #d0d4d4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #008080;
  text-decoration: inherit;
}

a:hover {
  color: #1ba8a8;
}

input, textarea {
  font-size: 16px;
}

button {
  border-radius: 8px;
  border: 2px solid;
  margin: 0.5em;
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
  min-height: 44px;
  min-width: 44px;
}
button:hover {
  color: #646cff;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
